	@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {
  --white-bg:#FFF5ED;
  --orange-bg:#F69F91;
  --text:#D15081;
  --nav-bar:#F69F91;
  --dark:rgba(0,0,0,0.8);
  --mirror:rgba(255,255,255,.2);
  
  
}


html {
  font-size:150%;
}

body,
html {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  font-family:'Oswald', sans-serif;
  box-sizing:border-box;
  min-height:596px;
  background:var(--white-bg);
}

.header{
  height:100%;
  width:100%;
  max-height:1920px;
  min-height:595px;
  background:var(--white-bg);
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.row {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

.first-section,
.second-section{
  height:100%;
  min-height:600px;
  margin:0;
  padding:0;
  position:relative;
}

.navigation {
  width:11%;
  height:100%;
  margin:0;
  padding:0;
  background:var(--nav-bar);
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex-direction:column;
  position:fixed;
  z-index:-1;
}

.navigation a {
  color:var(--white-bg);
  text-shadow:1px 1px 0px black;
  font-size:0.9rem;
  transition:all 0.3s ease;
}

.title-container {
  height:100%;
  width:89%;
  background:var(--white-bg);
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  top:0;
  right:0;
  overflow:hidden;
}

.dice1{
   height:160px;
   width:200px;
   position:absolute;
   right:-12%;
   top:0%;
   filter:drop-shadow(2px 2px 0px black);
}

.dice2 {
  height:160px;
  width:200px;
  position:absolute;
  left:0;
  bottom:0;
  filter:drop-shadow(2px 2px 0px black);
  z-index:3;
}

.header-title {
  font-size:2.5rem;
  text-transform:uppercase;
  color:var(--text);
  text-shadow:2px 2px 0px var(--dark), 
  -1px -1px 0px var(--dark);
  z-index:5;
}

.header-sub-title {
  font-size:1rem;
  text-transform:uppercase;
  color:white;
  background:var(--text);
  padding:5px;
  border-radius:5px;
  z-index:5;
}

.header-calculator {
  height:50px;
  width:100%;
  filter:drop-shadow(2px 2px 0px black);
}

img {
  height:200px;
  width:200px;
}

.wave-header-container {
  height:auto;
  width:100%;
  background:transparent;
  position:absolute;
  bottom:0;
  z-index:2;
  overflow:hidden;
}

.wave-header-container img {
  height:100%;
  width:100%;
  /*animation:wave 8s ease-in-out infinite alternate;*/
}

/*@keyframes wave {
  0% {
    height:100%;
    width:100%;
  }
  
  100% {
    height:200%;
    width:200%;
  }
}*/

/*SECOND HEADER SECTION*/

.second-section {
  background:var(--orange-bg);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:center;
  flex-direction:column;
  overflow:hidden;
}


.calculator {
  height:200px;
  width:200px;
  z-index:2;
}

.span-math-container {
  height:40%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-around;
  z-index:2;
}

.span-math-container span {
  font-size:3rem;
  font-weight:900;
  color:var(--white-bg);
  text-shadow:2px 2px 0px var(--dark),
  -2px -2px 0px var(--dark);
}

.navigation a:hover {
  color:var(--text);
  transform:scale(1.4);
}

.navigation .learn:hover {
  color:var(--white-bg);
}

.blob-header {
  position:absolute;
  height:100%;
  width:100%;
  z-index:1;
}

/* BODY  */

.body-section {
  height:100%;
  width:100%;
  position:relative;
  bottom:-100%;
  max-height:1920px;
  min-height:595px;
  margin:0;
  padding:0;
  overflow:hidden;
  z-index:50;
}

.body-section .row .section1,
.body-section .row .section2
{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column; 
  padding:5%;
  z-index:50;
} 

.body-section .row .section1 h1 {
  font-size:2rem;
  color:var(--orange-bg);
  text-shadow:1px 1px 0px var(--dark), 
  -1px -1px 0px var(--dark);
  z-index:50;
}

.body-section .row .section1 h3 {
  font-size:1.3rem;
  z-index:50;
}

.body-section .row .section1 p {
  font-size:1rem;
  text-transform:capitalize;
  text-align:center;
  color:var(--text);
}

.body-section .row .section1 img{
  height:90%;
  width:80%;
  max-height:250px;
  max-width:250px;
}

.main-section, 
.prime-section, 
.even-odd-section{
  height:100%;
  width:100%;
  position:relative;
  bottom:-150%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
  margin:0;
  padding:0;
  color:white;
  overflow:hidden;
  padding:5%;
  font-size:0.8rem;
  text-align:center;
  z-index:50;
} 

.prime-section, 
.even-odd-section{
  bottom:0%;
}

.main-section h1, 
.prime-section h1,
.even-odd-section h1{
  font-size:1rem;
  text-align:center;
  background:var(--orange-bg);
  border-radius:5px;
  z-index:50;
}

.main-section img, 
.prime-section img, 
.even-odd-section img{
  height:150px;
  width:150px;
  transform:rotate(20deg);
  z-index:50;
}

.prime-section img,
.even-odd-section img{
  transform:rotate(0deg);
  z-index:50;
}

.main-section p, 
.prime-section p, 
.even-odd-section p{
  color:var(--text);
  text-transform:capitalize;
  z-index:50;
  font-size:1rem;
}

.main-section button, 
.prime-section button, 
.even-odd-section button{
  height:50px;
  width:150px;
  background:var(--text);
  text-transform:capitalize;
  border-radius:5px;
  border:none;
  color:white;
  z-index:20;
  cursor:pointer;
}

.main-section a, 
.prime-section a, 
.even-odd-section a{
  color:var(--white-bg);
  text-transform:capitalize;
  z-index:50;
  font-size:1rem;
  text-decoration:none;
} 
 


.box1, 
.box2{
  height:100%;
  width:100%;
  background:var(--text);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  position:absolute;
  padding:5%;
  text-align:center;
  color:white;
  text-shadow:-1px -1px 0px var(--dark), 
  1px 1px 0px var(--dark);
}

.box1 img {
  height:200px;
  width:200px;
  position:absolute;
  bottom:15%;
  transform:rotate(45deg);
}

@media screen and (max-width:1920px){
 .navigation {
   height:80px;
   width:200%;
   background:var(--text);
   z-index:500;
   display:flex;
   align-items:center;
   justify-content:flex-start;
   flex-direction:row;
   background:var(--orange-bg);
   overflow:hidden;
 }
 
 .navigation a {
   text-transform:uppercase;
   text-decoration:none;
   margin:0px 50px 0px 50px;
 }
 
 .home, 
 .about,
 .contacts, 
 .more {
   display:none;
 }
 
 .header-calculator {
   position:absolute;
   width:100px;
   height:80%;
   right:3%;
   top:5%;
 }
 
  .learn {
   background:var(--text);
   padding:5px;
   border-radius:5px;
 }
 
 .span-math-container {
   position:absolute;
   bottom:-12%;
 }
 
 .dice1 {
   top:10%;
   right:2%;
 }
 
 .body-section {
  bottom:0%;
}

 .main-section {
   bottom:0%;
 }
 .prime-section, 
.even-odd-section{
  bottom:0%;
}

}

@media screen and (max-width:800px){
 .navigation {
  width:11%;
  height:100%;
  margin:0;
  padding:0;
  background:var(--nav-bar);
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex-direction:column;
 }
 
 .navigation a {
   margin:0 0 0 0;
   color:var(--white-bg);
   
 }
 
 .home, 
 .about,
 .contacts, 
 .more {
   display:block;
   color:black;
 }
 
 .contacts-letters, 
 .about-letter,
 .home-letter,
 .learn {
   display:none;
 }
 
 .dice1 {
   right:-12%;
   top:0%;
 }
 
 .dice2 {
  left:0;
  bottom:0;
 }
 
 .header-calculator {
  position:relative;
  height:50px;
  width:100%;
  filter:drop-shadow(2px 2px 0px black); 
  top:0;
  right:0;
 }
 
  .span-math-container {
   position:relative;
   bottom:0;
 }
 
 /* BODY  */

.body-section {
  bottom:-100%;
} 
 .main-section {
   bottom:-100%;
 }
 
.prime-section, 
.even-odd-section{
  bottom:-70%;
}
 
}

.square-wave {
  height:100%;
  width:100%;
  position:absolute;
  z-index:-1;
}

.prime-wave {
  height:100%;
  width:100%;
  position:absolute;
  z-index:-1;
}


.square-wave img {
  height:95%;
  width:100%;
  transform:rotate(180deg);
  position:absolute;
  top:-40%;
  left:0;
  z-index:-1;
}

.prime-wave img {
  height:95%;
  width:100%;
  position:absolute;
  bottom:-40%;
  left:0;
  z-index:-1;
}

.blob-even-odd {
  height:100%;
  width:100%;
  position:absolute;
  z-index:-1;
}

.blob-even-odd img {
  height:100%;
  width:130%;
  transform:rotate(60deg);
  position:absolute;
  left:-15%;
  z-index:-1;
}